<!DOCTYPE html>
<html>
	<head>
		<title>Node.js Text to Speech API</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300italic,400italic' rel='stylesheet' type='text/css'>
		<style>
			body {
			  padding: 50px;
			  font: 14px "Titillium Web", "Lucida Grande", Helvetica, Arial, sans-serif;
			}
			a {
			  color: #00B7FF;
			}
		</style>
	</head>
	<body>
	     <!-- Load analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-43591418-3', 'auto');
            ga('send', 'pageview');
        </script>

        <!-- Content -->
		<h1>SVOX Text to Speech interface in Node.js</h1>
		<p>Generate WAV files directly from the SVOX speech engine. Read the theory at <a href='http://www.adelriosantiago.com/blog/text-to-speech#eng'>the blog post</a>.</p>
		<br/>
		<div>
			<p>Language:</p>
			<select id='language_selector'>
				<option value="en-US">en-US</option>
				<option value="en-GB">en-GB</option>
				<option value="es-ES">es-ES</option>
				<option value="it-IT">it-IT</option>
				<option value="de-DE">de-DE</option>
				<option value="fr-FR">fr-FR</option>
			</select>
		</div>
		<br/>
		<div>
			<p>Text to convert:</p>
			<input id="text_to_convert" type="text" value="Good morning"/>
			<p style='font-size: 0.8em; color: gray;'><span>Sample: </span><span id='hintbox'>Hello world</span></p>
			<p id='err_max_chars' style='display: none;'>Info: Please enter 250 characters or less.</p>
			<p id='err_special_chars' style='display: none;'>Info: Special characters are trimmed.</p>			
		</div>
		<br/>
		<div>
			<p>Play:</p>
			<a id='api_call_play' href="#" target="_blank">#</a>
			
			<p>Get (use this when playing on MCU's):</p>
			<a id='api_call' href="#">#</a>
		</div>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script>
			var lang_hints = {
				'en-US' : 'Good morning',
				'en-GB' : 'Good morning',
				'es-ES' : 'Buenos dias',
				'it-IT' : 'Buongiorno',
				'de-DE' : 'Guten Morgen',
				'fr-FR' : 'Bonjour'
			};
			
			function updateApiCall() {
				var hostname = '<%= hostname %>';
				var lang = $('#language_selector').val();				
				var text = $('#text_to_convert').val();
				var callString = 'http://' + hostname + "/api/" + lang + "?text=" + text;
				$('#api_call').text(callString);
				$('#api_call').attr('href', callString);
				callString += '&play=true';
				$('#api_call_play').text(callString);
				$('#api_call_play').attr('href', callString);
				$('#hintbox').text(lang_hints[lang]);

				//Error advise
				if (text.length > 250) $('#err_max_chars').show(); else $('#err_max_chars').hide();
				if (/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi.test(text)) $('#err_special_chars').show(); else $('#err_special_chars').hide();
			}			
			$('#language_selector').change(function() {
				updateApiCall();
			});
			$('#text_to_convert').keyup(function() {
				updateApiCall();
			});
			updateApiCall();
		</script>
	</body>
</html>
