<!DOCTYPE html>
<html>
	<head>
		<title>Node.js Text to Speech API</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1>Node.js Text to Speech API</h1>
		<div>
			<p>Language:</p>
			<select id='language_selector'>
				<option value="en-US">en-US</option>
				<option value="en-GB">en-GB</option>
				<!-- <option value="mercedes">Mercedes</option>
				<option value="audi">Audi</option> -->
			</select>
		</div>
		<div>
			<p>Text to convert:</p>
			<!-- <p><span>Sample:</span> <span>Hello world</span></p> -->
			<input id="text_to_convert" type="text" value="hello world"/>
		</div>
		<div>
			<p>Api call:</p>
			<a id='api_call' href="#" target="_blank">#</a>
			<p id='err_max_chars' style='display: none;'>Error: String contains more than 250 characters</p>
			<p id='err_special_chars' style='display: none;'>Error: String contains special characters</p>
		</div>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script>
			function updateApiCall() {
				var hostname = '<%= hostname %>';
				var lang = $('#language_selector').val();				
				var text = $('#text_to_convert').val();
				var callString = 'http://' + hostname + "/api/" + lang + "?text=" + text;
				$('#api_call').text(callString);
				$('#api_call').attr('href', callString);

				//Error advise
				if (text.length > 250) $('#err_max_chars').show(); else $('#err_max_chars').hide();
				if (/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi.test(text)) $('#err_special_chars').show(); else $('#err_special_chars').hide();
			}			
			$('#language_selector').change(function() {
				updateApiCall();
			});
			$('#text_to_convert').keyup(function() {
				updateApiCall();
			});
			updateApiCall();
		</script>
	</body>
</html>
